JOSE RFCs are no longer drafts

| RFC Name | New RFC Number |
| --------------- | ------------------------- |
| JSON Web Token (JWT) Profile for OAuth 2.0 Client Authentication and Authorization Grants | RFC 7523 |
| Assertion Framework for OAuth 2.0 Client Authentication and Authorization Grants | RFC 7521 |
| JSON Web Token (JWT) | RFC 7519 |
| JSON Web Algorithms (JWA) | RFC 7518 |
| JSON Web Key (JWK) | RFC 7517 |
| JSON Web Encryption (JWE) | RFC 7516 |
| JSON Web Signature (JWS) | RFC 7515 |